<!DOCTYPE html>
<html>
<!--
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J46BR60LWG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J46BR60LWG');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/interface_style.css">
    <link rel="stylesheet" href="css/smarthomesystem.css">

    <link rel="icon" type="image/png" href="imagini/smarthomesystemicon.png" />
    <script src="p5/p5.min.js"></script>
    <script src="js/smarthomesystem.js"></script>
    <script src="js/Vehicle.js"></script>
    <title>Smart Home System</title>
</head>

<body>
    <div id="postLoad">
        <div id="sketch-holder"></div>
        <div id="content" style="display:none;" class="w3-container w3-center w3-animate-opacity">
            <div>
                <p>Aplicațiile 'Smart Home System' adăuga funcționalități electronicelor obișnuite cum ar fi
                    conectivitatea wireless, controlul prin telefon, desktop sau web</p>
            </div>
            <div>
                <hr>
                <h1>Aplicații</h1>
                <div class="box">
                    <div>
                        <a href="/smarthomesystem/android">
                            <img src="imagini/android_icon.png">
                        </a>
                    </div>
                    <div>
                        <a href="/smarthomesystem/desktop">
                            <img src="imagini/pc_icon.png">
                        </a>
                    </div>
                    <div style="padding-bottom:50px;">
                        <a href="/smarthomesystem/web">
                            <img src="imagini/web_icon.png">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="preLoad" class="loader" style="display:block" ;>

    </div>
</body>



</html>