<!DOCTYPE html>
<html>
<!--
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J46BR60LWG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J46BR60LWG');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/interface_style.css">
    <link rel="stylesheet" href="css/smarthomesystem.css">

    <link rel="icon" type="image/png" href="/smarthomesystem/icon" />
    <script src="p5/p5.min.js"></script>
    <script src="js/smarthomesystem.desktop.js"></script>
    <script src="js/Vehicle.js"></script>
    <title>Desktop</title>
</head>

<body>
    <div id="postLoad">
        <div id="sketch-holder"></div>
        <div id="content" style="display:none;" class="w3-container w3-center w3-animate-opacity">
            <div>
                <h1>Prezentare generală</h1>
                <p class="cen">
                    Controlează led strip-uri de orice fel prin interfața desktop oferită de Smart Home System, joacă-te
                    cu animații și
                    alte funcții implementate în acest soft
                </p>
            </div>

            <div class="box">
                <hr>
                <h1>Funcții și utilizare</h1>
                <div style="vertical-align: top;">
                    <h1>Tray icon</h1>
                    <img src="imagini/overview.png" width="300px" height="38px">
                    <p style="text-align: justify;">
                        Programul pornește prima dată in system tray, cu un click dreapta pe iconița apare meniul cu
                        opțiuni
                    </p>
                </div>

                <div style="vertical-align: top;">
                    <h1>Meniul</h1>
                    <img src="imagini/meniu.png" width="300px" height="128px">
                    <p style="text-align: justify;">
                        Din acest meniu se pot accesa majoritatea setarilor si funcțiilor.
                    </p>
                </div>

                <div style="vertical-align: top;">
                    <h1>Conectare</h1>
                    <img src="imagini/conectare.png" width="300px" height="237px">
                    <p style="text-align: justify;">
                        Această fereastră este folosită pentru a te conecta direct la modulul bluetooth, există și
                        posibilitatea de a redirecționa conexiunea cu modulul
                        prin telefon, mai multe detalii <a href="">aici</a>
                    </p>
                </div>

            </div>

            <div class="box">
                <div style="vertical-align: top;">
                    <h1>Setări animații</h1>
                    <img src="imagini/meniuanimatii.png" width="300px" height="335px">
                    <p style="text-align: justify;">
                        Poti sa alegi și să customizezi diferite animatii pentru led strip-uri
                    </p>
                </div>
                <!--
                <div style="vertical-align: top;">
                    <h1>Screen mirror</h1>
                    <img src="imagini/emerse.gif" width="300px" height="169px">
                    <p style="text-align: justify;">
                        Această animație împarte ecranul în mai multe secțiuni verticale și redă culoarea acelor
                        secțiuni prin leduri,
                        totul este customizabil
                    </p>
                </div>
                -->
                <div>
                    <h1>Screen Mirror</h1>
                    <img src="imagini/screenmirror.jpg" width="300px" height="169px">
                    <p style="text-align: justify;">Această animație împarte ecranul în mai multe secțiuni verticale și
                        redă culoarea acelor
                        secțiuni prin leduri,
                        totul este customizabil</p>
                </div>
                <div style="vertical-align: top;">
                    <h1>Setări S.M.</h1>
                    <img src="imagini/screenmirror.png" width="300px" height="431px">
                </div>

            </div>

            <!--
            <div class="box">
                <h1>Alte animații</h1>
                <img src="imagini/portocaliu.gif" width="300px" height="169px">
                <img src="imagini/mov.gif" width="300px" height="169px">
            </div>
            -->
            <div class="box">
                <div style="vertical-align: top;">
                    <h1>Setări ușă</h1>
                    <img src="imagini/setariusa.png" width="300px" height="349px">
                    <p style="text-align: justify;">Funcția de a modifica ce se întâmplă la închiderea/deschiderea ușii
                        este prezentă și în aplicația
                        desktop</p>
                </div>
                <div style="vertical-align: top;">
                    <h1>Panou culori</h1>
                    <img src="imagini/argb.png" width="300px" height="349px">
                    <p style="text-align: justify;">Schimbă culoarea led-urilor cu această interfață simplă</p>
                </div>
            </div>
            <footer>
                <hr style="padding-top: 25px;">

                <a href="/smarthomesystem/desktop/download/SmartHomeSystem-Desktop.rar"><button>Descarcă aplicația (.rar)</button></a>

                <p>
                    Vezi și
                    <a href="/smarthomesystem/android">aplicația pentru android</a>
                    sau <a href="/smarthomesystem/web">interfața web
                </p>
                <p>Smart Home System este încă un proiect în lucru, nu toate funcțiile au fost prezentate prin aceste
                    poze, detalii
                    se pot găsi <a href="">aici</a>
                </p>

            </footer>
        </div>
    </div>

    <div id="preLoad" class="loader" style="display:block;"></div>

</body>



</html>